

.table{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;



  
}

.App-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #F2D1D1;
    border-radius: 5px;
    background-color:  #F2D1D1;
    width: 450px;
}


.tbody{
  display:flex;
flex-direction: column;
width:max-content;
border: 2px solid #F2D1D1;
  border-radius: 0px;
  background-color:  #F2D1D1;
  width: 300px;
}

.frags{
  border: 2px solid red;
  border-radius: 5px;

}


